{% block _user_messenger_conversation_message_userMedias_widget -%}
    <div class="row user-messenger-form-user-media">
        {%- for child in form %}
            {{- block('user_media_entry_widget') -}}
        {% endfor -%}
    </div>
{%- endblock %}

{% block user_media_entry_widget -%}
    {% set entity = form.vars.choices[child.vars.value].data %}
    <div class="col-2 user-messenger-form-user-media-entry">
        {{- form_widget(child, {
            parent_label_class: label_attr.class|default(''),
            translation_domain: choice_translation_domain,
            valid: valid,
        }) -}}
        {{ include('@UserMedia/media/item/_item_media.html.twig',
            {
                'user_media': entity,
                'resize': 'square',
                'width': 400,
                'height': 400,
            },
            with_context = false
        ) }}
    </div>
{%- endblock %}