.comments > form[name="user_messenger_conversation_message"] > div:first-of-type > *:not(:first-child) {
    margin-top: .5rem;
}

.comments > form[name="user_messenger_conversation_message"] > div:first-of-type > .dropzone > div.upload-item:first-of-type {
    margin-top: .5rem;
}

.comments > form[name="user_messenger_conversation_message"] > div:first-of-type > .dropzone > div.upload-item:last-of-type {
    padding-bottom: 0;
}

.comments > form[name="user_messenger_conversation_message"] > div:first-of-type > .dropzone > div.upload-item.dz-success {
    display: none;
}

.comments > form[name="user_messenger_conversation_message"] > div:first-of-type > fieldset.form-group {
    margin-top: 0;
}
