.user-messenger-dropdown-menu {
    min-width: 400px;
    max-height: 400px;
    overflow-y: scroll;
    font-size: 75%;
    padding-top: 0;
    padding-bottom: 0;
}

.user-messenger-dropdown-item {
    display: flex;
    align-items: center;
}

.user-messenger-dropdown-menu > a.dropdown-item {
    border-left: 5px solid $dark;
    padding: .25rem .5rem;
    transition: all .1s linear;
}

.user-messenger-dropdown-menu > a.dropdown-item:not(:last-child) {
    border-bottom: 1px solid $table-border-color !important;
}

.user-messenger-dropdown-menu > a.dropdown-item:nth-child(odd) {
    background-color: $gray-200;
}

.user-messenger-dropdown-menu > a.dropdown-item:hover {
    background-color: $gray-300;
}

.user-messenger-dropdown-menu > *:last-of-type {
    border-left: none !important;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
}

.user-messenger-dropdown-menu > a.dropdown-item > span.info {
    margin-right: .5rem;
}
